<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lanzador TiaCarmen</title>
	<script src="../js/tiaCarmen.js"></script>
</head>
<body>


	<h1>Ingresar datos Clientes</h1>
	
	<br>
	
	
	
	
	 <div id="divPagarBoleta" class="PagarBoleta" >
          	 		<form action="/BusquedaClientesMS" method="POST" >
          	 		Ingrese Rut representante Legal :: 
          	 		<input id="BusquedaRepLegal" type="text" size="20" maxlength="30" value="111111-1" name="BusquedaRepLegal">
          	 		
          	 		<br><br> 
          	 		
          	 		Ingrese Rut Empresa            : 
          	 		<input id="BusquedaEmpresa" type="text" size="20" maxlength="30" value="111111-1" name="BusquedaEmpresa">
          	 		
          	 		<br>
          	 		<br>
          	 		<br>
					<button id="btnBuscarClientes" name="btnBuscarClientes"  type="submit"> Buscar</button>
					
                    </form>
                </div>
    
</body>
</html>