<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lanzador TiaCarmen</title>
	<script src="../js/tiaCarmen.js"></script>
</head>
<body>


	<h1>Venta</h1>
	
	<br>
	<h2>Ingrese Voucher</h2>
	
	
	
	 <div id="divPagarBoleta" class="PagarBoleta" >
          	 		<form action="/PagarBoleta" method="POST" >
          	 		<input id="BusquedaProducto" type="text" size="20" maxlength="30" value="Nombre" name="BusquedaProducto">
					<button id="btnPagarBoleta" name="btnPagarBoleta"  type="submit"> Pagar Boleta</button>
					
                    </form>
                </div>
    
</body>
</html>